<!DOCTYPE html>
<html lang="en">

<!-- Popup modal for user messages -->
{% macro render_modal(id, Msg, Title) -%}
<div class="modal fade" tabindex="-1" id="{{ id }}" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="itemLabel"> '{{ Title }}' </h4>
      </div>
      <div class="modal-body" id="modal-body">
        {{ Msg }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

<head>
  <title>VTP Builder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--
This script correctly calls on the button with the ID add_vlan gets pressed.
However, it is getting called over and over again, and I actually don't need this to be an asynch request.
it points to a server side address I deleted, /add_vlan
  <script>
    $(document).ready(function() {
          $("#add_vlan").click(function(e) {
            e.preventDefault();
            $.ajax({
              type: "GET",
              url: "/add_vlan",
              success: function(result) {
                alert('ok');
              },
              error: function(result) {
                alert('error');
              }
            });
          });
        });
  </script>
-->
  <style>
    body {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("/static/Tech_Background.jpg")
    }

    h1 {
      color: white;
      font-family: 'PT Serif', serif;
      font-size: 4em;
    }

    h2 {
      color: white;
      font-family: 'PT Serif', serif;
      font-size: 3em;
    }

    p {
      color: white;
    }

    b {
      color: purple;
      font-family: 'PT Serif', serif;
      font-weight: bold;
    }

    .panel-heading {
      background-color: rgba(0, 0, 0, .5);
      font-size: 1.5em;
      color: white;
    }

    .panel-body {
      background-color: rgba(255, 255, 255, .5);
      color: black;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .panel {
      background-color: rgba(0, 0, 0, 0);
    }
    }
  </style>
</head>

<body>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <ul class="nav nav-tabs">
        <li><a href="https://weller.pythonanywhere.com/">Home</a></li>
        <li><a href="https://weller.pythonanywhere.com/subnet">Auto Subnetting</a></li>
        <li><a href="https://weller.pythonanywhere.com/annex_a">Annex A</a></li>
        <li><a href="https://weller.pythonanywhere.com/annex_b">Annex B</a></li>
        <li class="active"><a href="https://weller.pythonanywhere.com/vtp_builder">VTP Builder</a></li>
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h1>VTP Builder</h1>
      <p>The VTP Builder tool is designed to take your VLAN and site requirements and generate VTP Databases for you. You should be able to copy and paste from the panels into your VLAN diagrams directly.</p>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <br>

  <!-- VLAN Table -->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">VLAN Table</div>
        <div class="panel-body">
          <form action="/vtp_builder" method="post">
            <table class="table" id="subnetTable">
              <thead>
                <tr>
                  <th>ID Number</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {% for value in SessionData['VLANList'] %}
                <tr>
                  <td><input type="number" min="0" name={{ 'ID_NUM:'+value }} class="form-control" value={{ SessionData['VLANList'][value]['ID'] }}></td>
                  <td><input type="text" name={{ 'NAME:'+value }} class="form-control" value={{ SessionData['VLANList'][value]['Name'] }}></td>
                  <td><button type="submit" class="btn btn-danger" name={{ "DEL_ID:"+value }} id={{ "DEL_ID:"+value }}><i class="fa fa-minus"></i> Delete</button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <button type="submit" class="btn btn-success" name="add_vlan" id="add_vlan"><i class="fa fa-plus"></i> Add VLAN</button>
            <button type="submit" class="btn btn-primary" name="save_vlan" id="save_vlan"><i class="fa fa-save"></i> Save VLAN Matrix</button>
          </form>
        </div id="end_VLAN_table">
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
  <br>

  <!-- Alert for errors in the VTP configuration -->
  {% if SessionData['UserMsg'] is string %}
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="alert alert-danger alert-dismissible" id="myAlert">
        <a href="#" class="close">&times;</a>
        <strong> {{SessionData['UserMsg']}}</strong>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- VTP configuration Menu -->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">VTP Settings Table</div>
        <div class="panel-body">
          <form action="/vtp_builder" method="post">
            <div class="row">
              Enter your start address in xx.xx.xx.xx notation, and the subnet size you have to work with in CIDR notation (/xx).
            </div>
            <br>
            <div class="row">
              <div class="col-sm-8">
                <input type="text" name='StartAddress' class="form-control" value={{ SessionData['VTP_Config']['StartAddress'] }}>
              </div>
              <div class="col-sm-4">
                <input type="text" name='TotalSize' class="form-control" value={{ SessionData['VTP_Config']['TotalSize'] }}>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-success" name="add_vtp" id="add_vtp"><i class="fa fa-plus"></i> Add VTP</button>
                <button type="submit" class="btn btn-primary" name="save_vtp" id="save_vtp"><i class="fa fa-save"></i> Save All and Refresh</button>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm"></div>
  </div>
  <br>

  <!-- VTP Panels -->
  <script>
    $(document).ready(function() {
      $(".close").click(function() {
        $("#myAlert").alert("close");
      });
    });
  </script>
</body>

</html>
